<%- include('includes/head.ejs') %>
</head>

<body>
    
  <%- include('includes/nav.ejs') %>

    <div class="body-container">
        <div class="admin-cards">
            <div class="admin-card">
                <a href="/admin/users">
                    <h2>Users</h2>
                    <img src="/img/userlogo.jpg" alt="">
                </a>
            </div>
            <div class="admin-card">
                <a href="/admin/allfiles">
                    <h2>Files</h2>
                    <img src="/img/fileslogo.jpg" alt="">
                </a>
              
            </div>
              
        </div>
        
    </div>
  
    <%- include('includes/end.ejs') %>