<%- include('includes/head.ejs') %>
</head>

<body>
    
  <%- include('includes/nav.ejs') %>

    <div class="body-container">
        <div class="form-container">
            
            <form class="signup-form" action="/upload" method="POST" enctype="multipart/form-data">
                <h1 style="text-align: center;color: white;">Upload New</h1>
                <div class="mb-3">
                  <label for="firstName" class="form-label">Title</label>
                  <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Upload File</label>
                  <input class="form-control" name="file" type="file" id="formFile">
                </div>
                <!-- <div class="mb-3">
                    <label for="formFileLg" class="form-label"></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file">
                  </div> -->
                <button type="submit" class="btn btn-primary btn-signup">Upload</button>
              </form>
        </div>
        
    </div>
  
    <%- include('includes/end.ejs') %>